<%= form_for ([@shoppingcartitem.shoppingcart, @shoppingcartitem]) do |f| %>
  <div>
    <%= f.label :quantity %>
    <%= f.text_field :quantity %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
